# Port on which the server should listen
PORT=3000

# Database Connection URL (SQLite)
DATABASE_URL="file:../src/database/data.sqlite"

# Add other environment variables below, like JWT_SECRET, etc.
# JWT_SECRET="your_secret_key_here"
